<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STUY PTC ORGANIZER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
    <script src="{{ url_for('static', filename='js/vendor/custom.modernizr.js') }}"></script>
  </head>
  <body>
    <!--________________________________________________________________________-->
    
    <!-- Header and Nav -->
 
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h1>Teacher Login</h1>
      </div>
    </div>
  </div>
  <!-- End Header and Nav -->
 
  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Contact Details -->
    <div class="large-9 columns">
 
      <h3>Enter your information to continue.</h3>
      <p>If you are not a teacher, please do not not attempt to troll. This is intended to save time for the parents and teachers.</p>
 
      <div class="section-container tabs" data-section>
        <section class="section">
          <div class="content" data-slug="panel1">
            <form>
              <div class="row collapse">
                <div class="large-2 columns">
                  <label class="inline">Username</label>
                </div>
                <div class="large-10 columns">
                  <input type="text" id="username" placeholder="The name you picked at registration">
                </div>
              </div>
              <div class="row collapse">
                <div class="large-2 columns">
                  <label class="inline"> Password</label>
                </div>
                <div class="large-10 columns">
                  <input type="text" id="password" placeholder="Password">
                </div>
              </div>
             
              <button type="submit" class="radius button">Submit</button>
            </form>
          </div>
        </section>
        <section class="section">
          <h5 class="title"><a href="/teacherregister">Need to register?</a></h5>
          <div class="content" data-slug="panel2">
            <a href = "/">Homepage</a>
          </div>
        </section>
      </div>
    </div>
 
    <!-- End Contact Details -->
 
  </div>
 
  <!-- End Main Content and Sidebar -->
 
 



    

    <!--________________________________________________________________________-->

    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js')}}"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
