<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STUY PTC ORGANIZER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
    <script src="{{ url_for('static', filename='js/vendor/custom.modernizr.js') }}"></script>
  </head>
  <body>
    <!--________________________________________________________________________-->

<style>
.blue{background-color:#0000ff;}
</style>

    
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <a href="/parentpostlogin">
          STUY PTC ORGANIZER
        </a>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>
  
  <h1>Choose Times Here</h1>
  
  <ul>
    <li>8:00</li>
    <li>8:04</li>
    <li>8:08</li>
    <li>8:12</li>
    <li>8:16</li>
    <li>8:20</li>
    <li>8:24</li>
    <li>8:28</li>
    <li>8:32</li>
    <li>8:36</li>
    <li>8:40</li>
    <li>8:44</li>
    <li>8:48</li>
    <li>8:52</li>
    <li>8:56</li>
    <li>9:00</li>
    <li>9:04</li>
    <li>9:08</li>
    <li>9:12</li>
    <li>9:16</li>
    <li>9:20</li>
    <li>9:24</li>
    <li>9:28</li>
    <li>9:32</li>
    <li>9:36</li>
    <li>9:40</li>
    <li>9:44</li>
    <li>9:48</li>
    <li>9:52</li>
    <li>9:56</li>
    <li>10:00</li>
  </ul>
  
  <input type="submit" value="Submit" id="b1">

<script src="script.js"></script>
  
  <!--________________________________________________________________________-->
  
  <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
  <script src="{{ url_for('static', filename='js/foundation.min.js')}}"></script>
  <script>
    $(document).foundation();
  </script>
  </body>
</html>
